@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}

body {
    min-height: 100vh;
}



/* ----- NAVIGATION-MENU section ----- */
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw;
}

#nav-logo {
    height: 64px;
    margin: 1rem 0;
}

.hamburger {
    display: none;
}

.hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    text-transform: uppercase;
    font-size: 1.75rem;
    letter-spacing: 1px;
    font-weight: normal;
    color: #ffffff;
}

.nav-link-active {
    text-transform: uppercase;
    font-size: 1.75rem;
    letter-spacing: 1px;
    font-weight: bold;
    color: #C32A2A;
}

.nav-link:hover {
    font-weight: bold;
    color: #C32A2A;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.nav-lin-active:hover {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 1210px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 8.74rem;
        flex-direction: column;
        background-color: rgba(0, 0, 0, 0.7);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}





/* ----- UVOD HOMEPAGE section ----- */
.container_uvod-homepage {
    background-image: url('../img/photos/photo7.jpg');
    background-size: cover;
    background-position: bottom;
    height: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.uvod1-homepage, .uvod2-homepage {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.title1-homepage {
    font-size: 5rem;
    text-transform: uppercase;
}

.title1-homepage_span {
    font-size: 5rem;
    color: #000000;
}

.title2-homepage {
    font-size: 1.6rem;
    letter-spacing: 1px;
}

.uvod1-homepage .bar {
    height: 5px;
    width: 10vw;
    background-color: white;
    margin: 2rem 0;
}

.hexagon-homepage {
    position: absolute;
    width: 15%;
    min-width: 350px;
    opacity: 80%;
    z-index: 0;
}
.hexagon-homepage:nth-child(1) {
    left: 0;
    filter: brightness(100);
    mix-blend-mode: difference;
    display: none;
}
.hexagon-homepage:nth-child(2) {
    width: 40%;
    opacity: 55%;
}
.hexagon-homepage:nth-child(3) {
    right: 0;
    transform: scaleX(-1);
    mix-blend-mode: difference;
    display: none;
}

@media only screen and (min-width: 1420px) {
    .container_uvod-homepage {
        display: flex;
        flex-direction: row;
    }

    .uvod1-homepage {
        margin-right: 3rem;
        transition: all 0.3s ease-in-out;
    }

    .title1-homepage {
        font-size: 7rem;
    }

    .title1-homepage_span {
        font-size: 7rem;
    }

    .hexagon-homepage:nth-child(1), .hexagon-homepage:nth-child(3) {
        display: inline;
    }
}






/* ----- UVOD SERVICESPAGE/GALLERYPAGE/CONTACTPAGE section ----- */
.container_uvod {
    position: relative;
    background-size: cover;
    background-position: bottom;
    height: 1080px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

/* UVOD SERVICESPAGE background image */
.container_uvod .servicespage-background-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../img/photos/photo8.jpg');
    filter: grayscale(100%);
    background-size: cover;
    background-position: bottom;
    z-index: -1;
}

/* UVOD GALLERYPAGE background image */
.container_uvod .gallerypage-background-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../img/photos/photo9.jpg');
    filter: grayscale(100%);
    background-size: cover;
    background-position: bottom;
    z-index: -1;
}

/* UVOD CONTACTPAGE background image */
.container_uvod .contactpage-background-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../img/photos/photo1.jpg');
    filter: grayscale(100%);
    background-size: cover;
    background-position: bottom;
    z-index: -1;
}


.uvod1 {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title1 {
    font-size: 5rem;
    color: #ffffff;
    text-transform: uppercase;
}

.uvod1 .bar {
    height: 5px;
    width: 10vw;
    background-color: #C32A2A;
    margin: 2rem 0;
}

.hexagon {
    width: 40%;
    opacity: 55%;
    position: absolute;
    min-width: 350px;
    z-index: 0;
}

@media only screen and (min-width: 1420px) {
    .title1 {
        font-size: 7rem;
    }
}








/* ----- SERVICES-BUTTONS section ----- */
.sluzby_sekcia {
    display: flex;
    width: 100%;
    background: #f0f3f4;
    box-shadow: 0 -1px 20px 0 #f0f3f4;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem 10vw;
}

.sluzby_heading {
    font-size: 3rem;
    text-transform: uppercase;
}

.sluzby_sekcia .sluzby_container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5rem;
}

@media only screen and (max-width: 1210px){
    .sluzby_sekcia .sluzby_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 568px) {
    .sluzby_sekcia .sluzby_container {
        grid-template-columns: repeat(1, 1fr);
    }
}

    .sluzby_sekcia p{
        font-size: 1.6rem;
        margin-bottom: 5rem;
    }

    .sluzby_sekcia .bar {
        height: 5px;
        width: 10vw;
        background-color: black;
        margin: 1rem 0;
    }

    .sluzby_item {
        box-shadow: rgba(0, 0, 0, 0.5) -8px 7px 15px 0;
        height: 300px;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        transform: translateY(0);
    }

    .sluzby_item:hover {
        transform: translateY(-5px);
    }

    .sluzba {
        background-size: cover;
        background-position: center;
        padding: 20px;
        color: black;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center; /* Center vertically */
        align-items: center; /* Center horizontally */
        position: relative;
        overflow: hidden;
    }

    .sluzby_item:nth-of-type(1) .sluzba {
        background-image: url('../img/photos/photo11.jpg');
    }

    .sluzby_item:nth-of-type(2) .sluzba {
        background-image: url('../img/photos/photo10.jpg');
    }

    .sluzby_item:nth-of-type(3) .sluzba {
        background-image: url('../img/photos/photo13.jpg');
    }

    .sluzby_item:nth-of-type(4) .sluzba {
        background-image: url('../img/photos/photo12.jpg');
    }

    .sluzba::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        background: rgba(255,255,255, 0.6);
        pointer-events: none;
        z-index: 1;
    }

    .sluzba img {
        width: 50px;
        margin-bottom: 10px;
        z-index: 1;
    }

    .sluzba p {
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: bold;
        z-index: 2;
    }






    /* ----- OPENING HOURS section ----- */
    .hodiny_sekcia {
        display: flex;
        width: 100%;
        background: black;
        box-shadow: 0 -1px 20px 0 rgba(0, 0, 0, 0.5);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10rem 10vw 9rem;
    }

    .hodiny_heading {
        color: white;
        font-size: 3rem;
        text-transform: uppercase;
    }

    .hodiny_sekcia .bar {
        height: 5px;
        width: 10vw;
        background-color: white;
        margin: 1rem 0;
    }

    .hodiny_container {
        display: flex; /* Change to flex to make elements align in a row */
        align-items: center;
    }

    .hodiny_container p {
        font-size: 1.6rem;
        text-transform: uppercase;
    }

    #status-dot {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        margin-right: 1rem;
    }

    .blink {
        animation: blinkAnimation 1s infinite alternate; /* Blinking animation */
    }

    @keyframes blinkAnimation {
        to {
            opacity: 0.3;
        }
    }

    #opening-times_container {
        margin-top: 4rem;
        width: 30%;
        color: white;
        font-size: 1.6rem;
    }

    #opening-times_container table td:first-child {
        font-weight: bold;
        text-transform: uppercase;
    }

    #opening-times_container table {
        width: 100%;
    }

    #opening-times_container table,
    #opening-times_container td {
        font-size: 1.6rem;
    }

    #opening-times_container td {
        padding: 1rem;
        text-align: left;
    }

    @media only screen and (max-width: 1210px) {
        #opening-times_container {
            width: 50%;
        }
    }

    @media only screen and (max-width: 568px) {
        #opening-times_container {
            width: 90%;
        }
    }






    /* ----- PRICE LIST section ----- */
    .price-list_section {
        display: flex;
        width: 100%;
        background: #f0f3f4;
        box-shadow: 0 -1px 20px 0 #f0f3f4;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10rem 10vw;
    }

    .price-list_heading {
        font-size: 3rem;
        text-transform: uppercase;
    }

    .price-list_container {
        width: 100%;
    }

    .price-list_section p {
        font-size: 1.6rem;
        margin-bottom: 4rem;
    }

    .price-list_section .bar {
        height: 5px;
        width: 10vw;
        background-color: black;
        margin: 1rem 0;
    }

    .price-table {
        width: 30%;
        margin: 0 auto;
    }

    @media only screen and (max-width: 568px) {
        .price-table {
            width: 90%;
            margin: 0 auto;
        }
    }

    .price-table td {
        padding: 1rem;
        text-align: left;
        font-size: 1.6rem;
    }

    .price-table td:first-child {
        font-weight: bold; /* Bold style for the first column */
    }

    .interest-button {
        display: block; /* Ensure it's a block-level element for auto margin to work */
        width: 30%;
        margin: 4rem auto 0 auto;
        font-size: 1.6rem;
        text-align: center;
        background-color: #C32A2A;
        color: white;
        padding: 1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        transform: translateY(0);
    }

    .interest-button:hover {
        transform: translateY(-5px); /* Apply the transform on hover */
        background-color: #b42a2a;
    }

    @media only screen and (max-width: 568px) {
        .interest-button {
            width: 50%;
        }
    }






    /* ----- SOCIALMEDIA section ----- */
    .socialmedia_section {
        display: flex;
        width: 100%;
        background: black;
        box-shadow: 0 -1px 20px 0 rgba(0, 0, 0, 0.5);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10rem 10vw;
        color: white;
    }

    .socialmedia_heading {
        color: white;
        font-size: 3rem;
        text-transform: uppercase;
    }

    .socialmedia_section .bar {
        height: 5px;
        width: 10vw;
        background-color: white;
        margin: 1rem 0;
    }

    .socialmedia_section p {
        font-size: 1.6rem;
        margin-bottom: 4rem;
    }

    .socialmedia-buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .social-button {
        display: inline-block;
        text-decoration: none;
        color: white;
        background-color: #C32A2A;
        padding: 1rem 2rem;
        border-radius: 5px;
        margin: 1rem 1rem 0 1rem;
        font-size: 1.6rem;
        transition: background 0.3s ease, all 0.5s ease-in-out;
        transform: translateY(0);
    }

    .social-button i {
        font-size: 1.6rem;
        margin-right: 1rem;
    }

    .social-button:hover {
        transform: translateY(-5px);
    }
    .social-button:nth-child(1):hover {
        background: linear-gradient( to right, #833ab4,#fd1d1d,#fcb045);
    }
    .social-button:nth-child(2):hover {
        background: #4267B2;
    }
    /* 28.2.2024 https://developers.facebook.com/community/threads/374479868862324/?post_id=374479872195657 */
    /*
        #instagram-photos-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            grid-gap: 10px;
        }

        #instagram-photos-container img {
            width: 100%;
            height: auto;
        }
    */










/* ----- SERVICES-INFORMATION section ----- */
.services-information_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem 10vw 5rem;
    background: #f0f3f4;
    box-shadow: 0 -1px 20px 0 #f0f3f4;
}

.services-information_heading {
    font-size: 3rem;
    color: #333; /* Improved text contrast */
}

.services-information_section .bar {
    height: 5px;
    width: 10vw;
    background-color: #333; /* Improved bar color */
    margin: 1rem 0;
}

.services-information_container {
    background-color: #f4f4f4;
    width: 100%;
    max-width: 1200px;
    margin-top: 4rem;
}

.service {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.service.reverse {
    flex-direction: row-reverse;
}

.service-information_item {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.5) -8px 7px 15px 0;
    height: 300px;
    min-width: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.service-information {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-information::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(255,255,255, 0.6);
    pointer-events: none;
    z-index: 1;
}

.service-information img {
    min-width: 50px;
    width: 5vw;
    max-width: 100px;
    z-index: 1;
}

.service-description {
    flex-grow: 1;
}

.service-description h2 {
    font-size: 2rem;
    text-transform: uppercase;
}

.service-description p {
    font-size: 1.6rem;
}

.service:nth-child(1) .service-information_item {
    background-image: url('../img/photos/photo11.jpg');
    margin-right: 5rem;
}

.service:nth-child(2) .service-information_item {
    background-image: url('../img/photos/photo10.jpg');
    margin-left: 5rem;
}

.service:nth-child(3) .service-information_item {
    background-image: url('../img/photos/photo13.jpg');
    margin-right: 5rem;
}

.service:nth-child(4) .service-information_item {
    background-image: url('../img/photos/photo12.jpg');
    margin-left: 5rem;
}

@media only screen and (max-width: 800px) {
    .service:nth-child(1) .service-information_item {
        margin: 0 auto;
    }

    .service:nth-child(2) .service-information_item {
        margin: 0 auto;
    }

    .service:nth-child(3) .service-information_item {
        margin: 0 auto;
    }

    .service:nth-child(4) .service-information_item {
        margin: 0 auto;
    }

    .service {
        flex-wrap: wrap;
    }
    .service-description h2 {
        margin: 2rem 0 2rem 0;
    }
    .service.reverse {
        flex-direction: row;
    }
}








/* ----- GALLERY section ----- */
.gallery_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem 10vw;
    background: #f0f3f4;
    box-shadow: 0 -1px 20px 0 #f0f3f4;
}

.gallery_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
    position: relative;
}

.gallery_container::after {
    content: '';
    position: absolute;
    left: -10%;
    bottom: -2rem;
    width: 120%;
    height: 30rem; /* Adjust the height of the shadow as needed */
    background: linear-gradient(to top, rgba(240, 243, 244, 1), rgba(240, 243, 244, 0)); /* Adjust the shadow color and gradient as needed */
    pointer-events: none;
}
.gallery_container.hide-after::after {
    display: none;
}


@media only screen and (max-width: 1700px) {
    .gallery_container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 1000px) {
    .gallery_container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.gallery_item {
    position: relative;
    overflow: hidden;
    height: 30vh;
    box-shadow: rgba(0, 0, 0, 0.5) -8px 7px 15px 0;
    transition: all 0.5s ease-in-out;
    transform: translateY(0);
}

.gallery_item:hover {
    transform: translateY(-5px);
}

.gallery_item img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.gallery_item:hover .overlay {
    opacity: 1;
}

.gallery_item:hover img {
    transform: scale(1.1);
}

.show-all-button {
    font-size: 1.6rem;
    color: black;
    margin-top: 5rem;
    cursor: pointer;
    padding: 1rem 2rem;
    background-color: transparent;
    border: 2px solid #333;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease, all 0.5s ease-in-out;
    transform: translateY(0);
}

.show-all-button:hover {
    background-color: #333;
    color: #fff;
    transform: translateY(-5px);
}

/* lightbox label */
.lb-data .lb-number,
.lb-data .lb-caption {
    margin-top: 2rem;
    font-size: 1.6rem !important;
}









/* ----- CONTACT section ----- */
.contact_section {
    display: flex;
    width: 100%;
    background: #f0f3f4;
    box-shadow: 0 -1px 20px 0 #f0f3f4;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem 10vw 9rem;
}


.contact-flex-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.open-status-container {
    display: flex;
    flex-direction: column; /* Updated to display divs one below the other */
    width: 25%;
    padding-right: 4rem;
}

.contact-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    color: black;
    font-size: 1.6rem;
}


.contact-open-status {
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.contact-open-status p {
    font-size: 1.6rem;
    text-transform: uppercase;
}

.contact-opening-times {
    color: black;
    font-size: 1.6rem;
}

.contact-opening-times table {
    width: 100%;
}

.contact-opening-times table,
.contact-opening-times td {
    font-size: 1.6rem;
}

.contact-opening-times td {
    padding: 1rem;
    text-align: left;
}

.contact-info {
    width: 50%;
    text-align: left;
    color: black;
    align-self: flex-start;
}

.contact-info h2,
.contact-info p {
    font-size: 1.6rem;
    padding: 1rem;
}

.contact-info h2:first-of-type {
    padding-top: 0;
}

.contact-info h2 {
    text-transform: uppercase;
}

.contact-info a{
    font-size: 1.6rem;
    color: #C32A2A;
}

.contact-opening-times table td:first-child {
    font-weight: bold;
    text-transform: uppercase;
}

@media only screen and (max-width: 1500px){
    .open-status-container {
        width: 50%;
        padding-right: 4rem;
    }
}

@media only screen and (max-width: 700px){
    .contact-flex-container {
        flex-direction: column;
    }
    .open-status-container {
        width: 100%;
        padding: 0;
    }
    .contact-open-status {
        margin: 0;
        justify-content: center;
    }
    .contact-opening-times {
        display: flex;
        width: 70%;
        flex-direction: column;
        margin: 0 auto;
        justify-content: center;
    }

    .contact-info {
        padding-top: 4rem;
        width: 70%;
        text-align: center;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 400px){
    .contact-opening-times {
        width: 100%;
    }
}












/* ----- FOOTER BLACK section ----- */
    .container {
        width: 100%;
        padding: 0 10vw;
    }

    footer {
        width: 100%;
        position: static;
        background: black;
        box-shadow: 0 -1px 20px 0 rgba(0, 0, 0, 0.5);
        bottom: 0;
    }

    footer p,h3,a {
        color: white;
    }

    footer a {
        font-size: 1.6rem;
    }

    .footer_content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 10rem 0;
        grid-gap: 5rem;
    }

    .footer_heading {
        font-size: 2rem;
        padding-bottom: 2rem;
        position: relative;
    }

    .footer_heading::after {
        content: "";
        height: 3px;
        background: #C32A2A;
        width: 25%;
        position: absolute;
        top: 30px;
        left: 0;
    }

    /* Prva sekcia */
    .first_section img {
        display: block;
        object-fit: cover;
        height: 64px;
    }

    .first_section p {
        font-size: 1.6rem;
        text-align: justify;
        padding: 1.5rem 0;
    }

    .social_icons {
        display: flex;
        justify-content: flex-start;
        gap: 2.5rem;
    }

    .social_icons i {
        font-size: 1.6rem;
        cursor: pointer;
        background: #ddd;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        color: #1c2833;
        transition: all 0.5s ease-in-out;
        transform: translateY(0);
    }

    .social_icons i:hover {
        transform: translateY(-5px);
    }

    /* druha sekcia */
    .second_section ul li {
        margin: 1rem 0;
    }

    .second_section ul li a:hover {
        color: #C32A2A;
    }

    .second_section ul li:first-child {
        margin-top: 0;
    }

    /* tretia sekcia */
    .div_mapa {
        position: relative;
        overflow: hidden;
        min-height: 300px;
    }

    .mapa {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border: 0;
    }

    /* copyright */
    .footer_txt {
        font-size: 1.6rem;
        background: #f0f3f4;
        padding: 1.1rem 0;
        text-align: center;
        box-shadow: -5px -0 2px rgba(0, 0, 0, 0.5);
    }

    .footer_txt p {
        font-size: 1.4rem;
        color: black;
    }

    @media only screen and (max-width: 1210px){
        body{
            min-height: 80vh;
        }

        .footer_content{
            grid-template-columns: repeat(2,1fr);
        }

        .social_icons i{
            font-size: 1.3rem;
            width: 45px;
            height: 45px;
        }

        footer{
            position: absolute;
            bottom: auto;
        }

        .container h2 {
            font-size: 4rem;
            padding-bottom: 5rem;
        }
    }

    @media only screen and (max-width: 800px) {
        .footer_content {
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 4rem;
        }

        .container h2 {
            font-size: 3rem;
            padding-bottom: 4rem;
        }
    }






/* ----- FOOTER WHITE modification section ----- */
.footer-white {
    width: 100%;
    position: static;
    background: #ddd;
    box-shadow: 0 -1px 20px 0 #ddd;
    bottom: 0;
}

.footer-white p,
.footer-white h3,
.footer-white a {
    color: black;
}

.social_icons-white {
    display: flex;
    justify-content: flex-start;
    gap: 2.5rem;
}

.social_icons-white i {
    font-size: 1.6rem;
    cursor: pointer;
    background: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #1c2833;
    transition: all 0.5s ease-in-out;
    transform: translateY(0);
}

.social_icons-white i:hover {
    transform: translateY(-5px);
}

@media only screen and (max-width: 1210px){
    .social_icons-white i{
        font-size: 1.3rem;
        width: 45px;
        height: 45px;
    }
}
